html, body{
    font-family: 'Lora', serif;
    background-color:#e7e7e7 ;
 }
 html{
    @media (min-width: 768px) {
        font-size: 12px;
    }
    @media (min-width: 992px) {
        font-size: 16px;
    }
 }
