html, body{
    font-family: 'Lora', serif;
    background-color:#e7e7e7 ;
}
 body{
    background-size: 400% 400%;
	/* animation: gradient 15s ease infinite; */
	height: 100vh;
 }
 
 html{
    @media (min-width: 768px) {
        font-size: 12px;
    }
    @media (min-width: 992px) {
        font-size: 16px;
    }
 }
