.custom-navbar{
    /* background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, #000000 100%); */
    background-color: rgb(7, 53, 59);
    padding: 20px 5% 20px 5%;
    /* padding-left: 5%;
    padding-right: 5%; */

}
a.navbar-brand,a.nav-link{
    color: #fff !important;

}

.search-button{
    border: solid 1px floralwhite;
    color: floralwhite;
}
button.search-button:hover{
    background-color: #fff;
    color: black
}
input.search-input{
    color: floralwhite;
}
input.search-input:focus{
    box-shadow: none;
    border: solid 1px floralwhite;
}
a{
    color:#656d75;
    text-decoration: none;
}
.my-footer{
    padding: 70px 20px 70px 20px;
    background-color: black;
    color: aliceblue;
    font-size:smaller;
}
.card{
    border: none;
}
.my-preview{
    margin: 40px 10% 40px 10%;
}

.nav-link:hover{
    font-weight: bolder; 
}
.nav-link:focus{
    text-shadow: 0 0 24px whitesmoke;
}
.my-login{
    margin: 5% 0 10% 0;
}
.update-button{
    background-color: #07353b;
    color: antiquewhite;
}


.update-button:focus{
    background-color: #07353b;
    color: antiquewhite;
    font-weight: bolder;
}
.confirm-button{
    background-color: #970068;
    color:antiquewhite;
}
.my-button{
    height: 50px;
    width: 25%;
    border-radius : 5px ;
    border:none;
    font-size: larger;
}
.my-button:hover{
    font-weight: bolder;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
a:hover{
    color:rgb(14, 1, 1);
    font-weight: bolder;
}
.my-card:hover{
    border-radius: none;
    mix-blend-mode:darken;
    box-shadow: 0 0 200px rgba(0, 23, 35, 0.448) ; 
}
.price{
    font-size: x-large;
    color: #4b0101;
}
.discount{
    font-size: large;
    color: rgb(3, 98, 98);
}
.dimension{
    font-size: large;
}
.buy-button{
    background-color: #4b0101;
    color: beige;
}
.addCart-button{
    background-color: #01414b;
    color: beige;
}
p.card-text{
    font-size: larger;
}
